# ==============================================================================
# MACRO CONFIGURATION & USAGE
# ==============================================================================
# HOW TO ENABLE OR DISABLE MACROS:
# Klipper reads every active macro in this file (If enabled in "MacroBase.cfg"]. To disable a specific macro 
# so it doesn't appear in your interface or load into Klipper, you must "comment 
# it out" by placing a hashtag (#) at the very beginning of every line for 
# that specific macro, starting with the [gcode_macro NAME] line.
# 
# To re-enable a macro, simply remove the hashtags from the start of its lines.
# ==============================================================================

#=====================================================
# LED_ON
#=====================================================
# @DESC Turns the configured LED strip on to 100% white brightness.
[gcode_macro LED_ON]
description: Turn LED on
gcode:
    SET_LED LED=my_led WHITE=1.00 SYNC=0 TRANSMIT=1

#=====================================================
# LED_OFF
#=====================================================
# @DESC Turns the configured LED strip completely off.
[gcode_macro LED_OFF]
description: Turn LED off
gcode:
    SET_LED LED=my_led WHITE=0.00 SYNC=0 TRANSMIT=1