# ==============================================================================
# MACRO CONFIGURATION & USAGE
# ==============================================================================
# HOW TO ENABLE OR DISABLE MACROS:
# Klipper reads every active macro in this file (If enabled in "MacroBase.cfg"). To disable a specific macro 
# so it doesn't appear in your interface or load into Klipper, you must "comment 
# it out" by placing a hashtag (#) at the very beginning of every line for 
# that specific macro, starting with the [gcode_macro NAME] line.
# 
# To re-enable a macro, simply remove the hashtags from the start of its lines.
# ==============================================================================

#=====================================================
# BUZZ_Z
#=====================================================
# @DESC Oscillates the Z-axis stepper motor (moves 1mm in each direction 10 times) to verify correct wiring and rotation direction.
[gcode_macro BUZZ_Z]
description: Buzz test
gcode:
    STEPPER_BUZZ STEPPER=stepper_z

#=====================================================
# BUZZ_X
#=====================================================
# @DESC Oscillates the X-axis stepper motor (moves 1mm in each direction 10 times) to verify correct wiring and rotation direction.
[gcode_macro BUZZ_X]
description: Buzz test
gcode:
    STEPPER_BUZZ STEPPER=stepper_x

#=====================================================
# BUZZ_Y
#=====================================================
# @DESC Oscillates the Y-axis stepper motor (moves 1mm in each direction 10 times) to verify correct wiring and rotation direction.
[gcode_macro BUZZ_Y]
description: Buzz test
gcode:
    STEPPER_BUZZ STEPPER=stepper_y

#=====================================================
# BUZZ_E
#=====================================================
# @DESC Oscillates the extruder stepper motor (moves 1mm in each direction 10 times) to verify correct wiring and rotation direction.
[gcode_macro BUZZ_E]
description: Buzz test
gcode:
    STEPPER_BUZZ STEPPER=extruder